<div class="row heading">
  <div class="one-half column"><a href="/"><h1>Use Your Words</h1></a>
    <div class="row">
        <form action="/user" method="get">
          <input class="u-full-width" type="text" name="username" placeholder="Twitter Username">
          <input id="submit" class="button-primary u-full-width" type="submit" value="Get My Report">
        </form>
        <div class="row">
          <h3><%= user.screen_name %></h3>
          <p><%= (evaluation[1] / user.tweets_count ) %>% of <%= user.name %>'s <%= user.tweets_count %> tweets use weak language, with <%= evaluation[1] %> failing words.</p>
        </div>
    </div>
  </div>
  <div class="one-half column">
      <div class="word-bubble">
        <% evaluation[2].each do |wordinfo| %>
        <% if wordinfo[:count] > 0 %>
        <div class="word-line"><strong><%= wordinfo[:word].capitalize %>:</strong> <%=wordinfo[:count] %> times</div>
        <% end %>
        <% end %>
        <div class="word-line"><span class="statement">OPINIONS, THOUGHTS, FEELINGS</span></div>
      </div>
  </div>
</div>
